html,body{margin:0;padding:0; background:#000;}
body{font: 90% arial,sans-serif}
p{margin:0 10px 10px}

a {
	color: #FFCC44;
	text-decoration:none;
}

ul {
	list-style:none;
	line-height:1.4em;
}

ul li {
	margin-bottom: 5px;
}


div#header{height:80px;margin:0;  padding-left:10px;background: #000 url('/img/edit-paste.png') no-repeat 20px center ;color: #FFCC44}
div#header h1 {
	/*display:block;*/
	float:left;
	margin-left: 100px;
	font: 120% "Lucida Grande", arial, sans-serif;
	vertical-align:center;
}
div#header .loading {
	width: 300px;
	height:30px;
	top: 200px;
	border: 2px solid #eee;
	margin:0 auto;
	padding:0;
}
div#content {background:#fff;}
div#content p{line-height:1.4}
div#content a {color:#539FCF}
div#navigation{background:#000; color:#fff;}
div#extra{background:#FF8539}
div#footer{background: #333;color: #FFF}
div#footer p{margin:0;padding:5px 10px}

div#content .paste-area ol {
	background: #eee;
	color: #0f0;
	height: 150px;
	overflow: hidden;
}

div#content .paste-area ol li {
	color:#000;
}

div#wrapper{float:left;width:100%}
div#content{margin-left:200px; padding:20px;}
div#navigation{float:left;width:200px;margin-left:-100%}
div#navigation .nav-link {
	background: #fc4;
	border: 2px solid #fff;
	margin-bottom:3px;
	color:#000;
	display:block;
}

div#extra{clear:left;width:100%}
div#extra .buttons {
	background: #000;
}
div#extra .buttons p {
	float:left;
	margin-right:10px;
}
label {
	display:block;
}

textarea {
	width:99%;
	background: #cce5ff;
}

table {
	width:99%;
}

td {
	width: 25%;
}

div#content .ajax-new-paste {
	background: #444;
}

div#content .paging div {
 float: left;
}

div#content .paging a {
 float: left;
}

#latest-pastes {
	font-size:70%;
}

#latest-pastes ul {
	margin:0;
	padding:0;
}

#latest-pastes ul li{
	margin:5px 0;
	padding:0;
}

.highlight { background-color: yellow;}

div.pinboardEntry {
	background: yellow;
	margin: 10px auto;
	border: 2px solid #444;
	padding: 0;
}

div.pinboardEntry h2 {
	padding:0 0 0 40px;
	margin:10px auto;
}

div.pinboardEntry div.pinboardHeader {
	background: #ffcc33 url('/img/pin.png') no-repeat center left;
	height: 30px;
	margin: 0;
	padding-left: 40px;
}

div.pinboardEntry ul {
	list-style:square;
}