html, body {
  margin:0;
  padding:0;
  background:#FFF;
}
body {
  font: 90% Verdana, Helvetica, Arial,sans-serif
}
p {
  margin:0 10px 10px;
}

a {
	color: #FFCC44;
	text-decoration:none;
}

img { border: 0;}

ul {
	list-style:none;
	line-height:1.4em;
}

ul li {
	margin-bottom: 5px;
}


div#header{
	height:50px;
	margin:0;  
	padding-left:10px;
	background: #000;
	color: #FFCC44;
	vertical-align: middle;
	border-bottom:5px solid #BDBDBD;
}
div#header h1 {
	margin: 0 0 0 100px;
	padding: 0;
	
	font: 150% "Lucida Grande", arial, sans-serif;
	vertical-align:center;
}
div#header .loading {
	width: 300px;
	height:30px;
	top: 200px;
	border: 2px solid #eee;
	margin:0 auto;
	padding:0;
}

div#header #primary-nav {
	position:absolute;
	top:30px;
	left: 300px;
}

div#header #primary-nav li {
	display:inline;
}

div#header #primary-nav .nav-link {
	width:150px;
	height:20px;
	text-align:center;
	font-size: 80%;
	background: #000 url('/img/tab.png') no-repeat;
	color:#000;
	float:left;
	margin-right:20px;
	opacity: 0.9;
}

div#header #primary-nav .nav-link:hover {
	opacity: 1.0;
}

div#header #primary-nav .active {
	font-size: 90%;
	color:#000;
	font-weight:bolder;
	opacity:1.0;
}

div#content {}
div#content p{line-height:1.4}
div#content a {color:#539FCF}

div#content .pastes .geshi-output ol {
	background: #555;
	color: #000;
	height: 150px;
	overflow: hidden;
	border:1px solid #000;
}

div#content .viewPaste viewPaste-geshiOutput-note {
	margin: 10px auto;
	width: 95%;
}


div#content .viewPaste .viewPaste-geshiOutput {
	margin: 10px auto;
	width: 95%;
}

div#content .viewPaste .viewPaste-geshiOutput ol {
	background: #555;
	color: #000;
	border:1px solid #000;
	margin: 0 10px;
}

div#content .paste-area .geshi-output ol {
	background: #555;
	color: #000;
	height: 150px;
	overflow: hidden;
	border:1px solid #000;
}

div#navigation{ color:#fff;}
div#extra{}
div#footer{background: #000; color: #FFF}
div#footer p{margin:0;padding:5px 10px}

div#content .paste-area ol {
	background: #eee;
	color: #000;
	height: 150px;
	overflow: hidden;
}

div#content .paste-area ol li {
	color:#000;
}

div#content .openid_url {
	background: #fff url('/img/openid-icon-small.gif') no-repeat scroll 0pt 50%;
	padding-left:18px;
}



div#wrapper{float:left;width:100%}
div#content{margin-left:200px; padding:20px;}
div#navigation{float:left;width:200px;margin-left:-100%}

div#navigation #primary-nav {
	padding:0;
}

div#navigation #search, div#navigation #donate {
	background: #D9CEB2;
	color: #000;
	margin:10px auto;
	width: 90%;
	padding:5px;
	border: 1px solid #000;
}

div#navigation #search #PasteSearchTerm {
	background: #fff url('/img/gtk-find.png') no-repeat;
	padding-left: 20px;
	width: 80%;
}

div#navigation #latest-pastes {
	background:#90A8C0;
	padding:5px;
	color: #000;
	margin:10px auto;
	width: 90%;
	padding:5px;
	border: 1px solid #000;
}

div#navigation #latest-pastes a {

}

div#extra{clear:left;width:100%}
div#extra .buttons {

}
div#extra .buttons p {
	float:left;
	margin-right:10px;
}

fieldset {
	padding: 10px;
}

label {
	display:block;
}

textarea {
	width:99%;
	height:250px;
}

textarea#PasteNote {
	height:75px;
}

table {
	width:99%;
}

td {
	width: 25%;
}

div#content .ajax-new-paste {
	background: #444;
}

div#content .paging .paging-prev div, div#content .paging .paging-next div {
  display: inline;
}

div#content .paging .paging-numbers a,
div#content .paging .paging-prev div, 
div#content .paging .paging-next div,
div#content .paging .paging-prev a, 
div#content .paging .paging-next a  {
  border: 1px solid #ddd;
  padding: 5px;
  background-color: #efefef;
}

div#content .paging .disabled {
  background-color: #ccc;
  color: #aaa;
}

div#content .paging .paging-next {
}

div #content .paging {
  text-align:center;
}



#latest-pastes {
	font-size:70%;
}

#latest-pastes ul {
	margin:0;
	padding:0;
}

#latest-pastes ul li{
	margin:5px 0;
	padding:0;
}

.highlight { background-color: yellow;}

div.pinboardEntry {
	background: yellow;
	margin: 10px auto;
	border: 2px solid #444;
	padding: 0;
}

div.pinboardEntry h2 {
	padding:0 0 0 40px;
	margin:10px auto;
}

div.pinboardEntry div.pinboardHeader {
	background: #ffcc33 url('/img/pin.png') no-repeat center left;
	height: 30px;
	margin: 0;
	padding-left: 40px;
}

div.pinboardEntry ul {
	list-style:square;
}

/* View: View Paste */
div#content div#viewPaste {

}

div#content .viewPaste .viewPaste-infoArea {
	border:2px solid #000;
	padding: 5px;
	line-height:1.8em;
}

div#content .viewPaste .viewPaste-infoArea .viewPaste-infoArea-downloadLinks a {
	float:left;
	margin-right: 20px;
}

div#content .viewPaste .viewPaste-infoArea .viewPaste-infoArea-downloadLinks img {
	border:0;
	text-align:center;
}

div#content div#flashMessage {
	margin: 0 auto;
	position: absolute;
	top: 10px;
	left: 500px;
}

div#conent div#flashMessage #closeFlash {
	position:relative;
	top: 0;
	right: 0;
	float:right;
}

div#content .error-message {
	border: 2px solid #000;
	background: #f00 url('/img/dialog-error.png') no-repeat left center;
	padding: 10px 10px 10px 30px;
	height: 40px;
	color: #fff;
	margin: 0 auto;
}

div#content #paste-fieldset {
	width: 60%;
	float:left;
}

div#content #note-fieldset {
	width: 25%;
	float:left;
	margin-left: 5%;
}

div#content #details-fieldset {
	width: 33%;
	float: left;
}

div#content #options-fieldset {
	width: 33%;
	float:left;
	margin-left: 5%;
}

.pm-message {
  background:#fff;
  border:1px solid #333;
  padding:1px;
  width:298px;
  top: 50px;
  left:500px;
  font-size:10px;
}
.pm-message .pm-message-left {
  position:absolute;
  bottom:1px;
  top:1px;
  width:50px;
  background: #fff url('../img/icon_bg.gif') top left repeat-y;
  padding:0px; margin:0px;
  
}
.pm-message .pm-message-left div.pm-message-icon {
  position:relative;
  top:-2px;
  left: -1px;
  height:48px;
  width:48px;
  background-repeat:no-repeat;
}
.pm-message-body {
  margin-left:60px;
  padding: 5px;
  padding-left: 0;
  padding-bottom:12px;
}
.pm-message-message strong {
  margin:12px 4px 6px 0;
  font-size:1.3em;
  font-family:sans-serif;
}
.pm-message-message p {
  margin:0px 0 0px 6px; padding:0px;
  line-height:1.2em;
  font-size:1.2em;
}

.pm-message .pm-message-left-notice {
  background-color: #94CE60;
}
.pm-message .pm-message-icon-notice {
  background: url('/img/dialog-information.png') no-repeat center left;
}

.pm-message .pm-message-left-warning {
  background-color: #ff6600;
}
.pm-message .pm-message-icon-warning {
	background: url('/img/dialog-warning.png') no-repeat center left;
}

.pm-message .pm-message-left-error {
  background-color: #f00;
}
.pm-message .pm-message-icon-error {
	background: url('/img/dialog-error.png') no-repeat center left;
}
/*
.warning {
	border:2px solid #000;
	background: #fff url('/img/emblem-important.png') no-repeat center left;
	padding-left: 50px;
	min-height:50px;
	vertical-align:middle;
}

.notice {
	border:2px solid #000;
	background: #fff url('/img/dialog-information.png') no-repeat center left;
	padding-left: 50px;
	min-height:50px;
	vertical-align:middle;
}
*/

div#content .pasteAdd #paste-form-area {
	border:1px solid #000;
}

div#content .pasteAdd #paste-form-area h2 {
	margin:0;
	background:#fc0;
	border-bottom:1px solid #000;
}

div#content .pasteAdd #paste-extra-area {
	
}